{foreach $siteList as $site => $name}

	{var $itemId = explode(":",$site)}
	{var $itemId = array_pop($itemId)}
	{var $stepClass = "step".$iterator->counter}

	{if $presenter->isLinkCurrent($site)}
		<li n:class="$classList['current'], $stepClass" id="{$itemId}">{$name}</li>
		{var $next = TRUE}
	{elseif $next}
		<li n:class="$classList['next'], $stepClass" id="{$itemId}">{$name}</li>
	{else}
		<li n:class="$classList['prev'], $stepClass" id="{$itemId}"><a href="{plink $site}">{$name}</a></li>
	{/}

{/foreach}