{define #contentHeader}
	%h1 {_"Přehled souborů"}
{/define} 

{define #breadcrumb}
	<a n:href="default">{_"Přehled souborů"}</a>
	<a n:href="add" class="current">{_"Nový soubor"}</a>
{/define}


{define #content}

{control fileForm}

{/define}
