{define #contentHeader}
	%h1 {_"Přehled souborů"}
{/define} 

{define #breadcrumb}
	<a n:href="default" class="current">{_"Správa stránek"}</a>
{/define}


{define #content}

{control fileGrid}

{/define}