{#contentHeader}
	%h1 {_"Přehled souborů"}
{/}


{#breadcrumb}
	<a n:href="default, id => NULL">{_"Přehled souborů"}</a>
	<a n:href="edit" class="current">{_"Úprava soubor"}</a>
{/}


{#content}
	{control fileControl}
