parameters:
	title: Číselník
	menu:
		icon: glyphicon-file
		items:
			[
				label: Přehled čísledníků
				link: Homepage:default
			]

services:
	- Schmutzka\Models\Codebook

factories:
	codebookControl: CodebookModule\Components\CodebookControl
