{define #contentHeader}
	%h1 {_"Nastavení"}
{/define} 

{define #breadcrumb}
	<a n:href="default" class="current">{_"Nastavení"}</a>
{/define}


{define #content}

{control emailSettingsForm}

{/define}