<!DOCTYPE html>
%html
	%head
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="FreexIT.eu">
		<link rel="shortcut icon" href="{$basePath}/images/cms/favicon.ico">

		{control adminLoginCssControl}
		{control adminLoginJsControl}
		{control titleControl}

	%body
		#container
			#logo <img src="{$basePath}/images/cms/logo.png" alt="Unicorn Admin logo">

			{control flashMessageControl}

			#loginbox
				{control loginControl:admin}
				{control remindPasswordControl:admin}
