<!DOCTYPE html>
%html
	%head
		<meta http-equiv='Content-Type' content='text/html;charset=UTF-8'>
		<meta name='author' content='FreexIT.eu'>
		<link rel='shortcut icon' href='{$basePath}/favicon.png'>

		{control adminLoginCssControl}
		{control adminLoginJsControl}

		%title {include #title}

	%body
		#adminLogin
			#title [n:inner-block => 'title']
				Unicorn Admin - Přihlášení

			{control flashMessageControl}

			#loginbox
				{control loginControl:admin}
				{control remindPasswordControl:admin}
