<!DOCTYPE html>
%html
	%head
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta name="author" content="FreexIT.eu">
		<link rel="shortcut icon" href="{$basePath}/favicon.png">

		{control adminCss}
		{control adminJs}

		%title {$adminTitle|isEmpty: "CMS Intuitivo"}

	%body
		#header
			%h1 <a n:href=":Admin:Homepage:default">{$adminTitle|isEmpty: "CMS Intuitivo"}</a>

		#user-nav.navbar.navbar-inverse
			%ul.nav.btn-group
				{if $user->loggedIn}
					%li.btn.btn-inverse
						<a n:href="logout!">
							%i.icon.icon-share-alt
							%span.text {_"Odhlásit se"}
						</a>

					%li.btn.btn-inverse
						<a n:href=":Admin:Homepage:settings">
							%i.icon.icon-cog
							%span.text {_"Nastavení"}
						</a>

					%li.btn.btn-inverse
						<a n:href=":Front:Homepage:">
							%i.icon.icon-home
							%span.text {_"Zpět na web"}
						</a>
				{/if}

		#sidebar
			%ul
				{if $user->loggedIn}
					{include #activeModules}
					{include #customModules}

				{else}
					<li n:class="$presenter->module == 'admin' ? 'active'">
						<a n:href=":Admin:Homepage:default">
							<i class="icon icon-cog"></i>
							{_"Přihlášení"}
						</a>
					</li>
				{/if}

		#content

			{ifset #contentHeader}
				#content-header
					{include #contentHeader}
			{/ifset}

			{ifset #breadcrumb}
				#breadcrumb
					<a n:href=":Admin:Homepage:default" class="tip-bottom"><i class="icon-home"></i> Home</a>
					{include #breadcrumb}
			{/ifset}

			{control flashMessage}

			.container-fluid
				.row-fluid
					.span12
						{include #content}


{define #activeModules}

	{ifset $activeModules["page"]}
		<li n:class="submenu, $presenter->module == 'page' ? 'active open'">
			%a [href => ""]
				%i.icon.icon-file
				%span {$activeModules["page"]}
				%span.label {$layoutSetup["pageCount"]}
			%ul
				{include #menuItem, path => ":Page:Homepage:default", icon => "icon-th-list", name => "Přehled stránek"}
				{include #menuItem, path => ":Page:Homepage:add", icon => "icon-plus", name => "Přidat stránku"}
		</li>
	{/ifset}

	{ifset $activeModules["article"]}
		<li n:class="submenu, $presenter->module == 'article' ? 'active open'">
			%a [href => ""]
				%i.icon.icon-file
				%span {$activeModules["article"]}
				%span.label {$layoutSetup["articleCount"]}
			%ul
				{include #menuItem, path => ":Article:Homepage:default", icon => "icon-th-list", name => "Přehled článků"}
				{include #menuItem, path => ":Article:Homepage:add", icon => "icon-plus", name => "Přidat článek"}
				{if $cmsParams->modules->article->categories}
					{include #menuItem, path => ":Article:Category:default", icon => "icon-th-list", name => "Přehled kategorií"}
					{include #menuItem, path => ":Article:Category:add", icon => "icon-plus", name => "Přidat kategorii"}
				{/if}
		</li>
	{/ifset}

	{ifset $activeModules["event"]}
		<li n:class="submenu, $presenter->module == 'event' ? 'active open'">
			%a [href => ""]
				%i.icon.icon-screenshot
				%span {$activeModules["event"]}
			%ul
				{include #menuItem, path => ":Event:Homepage:default", icon => "icon-th-list", name => "Přehled akcí"}
				{include #menuItem, path => ":Event:Homepage:add", icon => "icon-plus", name => "Přidat akci"}
				{include #menuItem, path => ":Event:Category:default", icon => "icon-th-list", name => "Přehled kategorií"}
				{include #menuItem, path => ":Event:Category:add", icon => "icon-plus", name => "Přidat kategorii"}
		</li>
	{/ifset}

	{ifset $activeModules["gallery"]}
		<li n:class="submenu, $presenter->module == 'gallery' ? 'active open'">
			%a [href => ""]
				%i.icon.icon-picture
				%span {$activeModules["gallery"]}
				%span.label {$layoutSetup["galleryCount"]}
			%ul
				{include #menuItem, path => ":Gallery:Homepage:default", icon => "icon-th-list", name => "Přehled fotogalerií"}
				{include #menuItem, path => ":Gallery:Homepage:add", icon => "icon-plus", name => "Přidat fotogalerii"}
		</li>
	{/ifset}

	{ifset $activeModules["email"]}
		<li n:class="submenu, $presenter->module == 'email' ? 'active open'">
			%a [href => ""]
				%i.icon.icon-envelope
				%span {$activeModules["email"]}
			%ul
				{include #menuItem, path => ":Email:CustomEmail:default", icon => "icon-th-list", name => "Přehled šablon emailů"}
				{include #menuItem, path => ":Email:CustomEmail:add", icon => "icon-plus", name => "Přidat šablonu"}
				{include #menuItem, path => ":Email:Settings:default", icon => "icon-wrench", name => "Nastavení"}
				{if $cmsParams["email_module_newsletter_active"]}
					{include #menuItem, path => ":Email:Newsletter:default", icon => "icon-bullhorn", name => "Newsletter"}
					{include #menuItem, path => ":Email:Newsletter:log", icon => "icon-th", name => "Evidence newsletterů"}
				{/if}
		</li>
	{/ifset}

	{ifset $activeModules["user"]}
		<li n:class="submenu, $presenter->module == 'user' ? 'active open'">
			%a [href => ""]
				%i.icon.icon-user
				%span {$activeModules["user"]}
				%span.label {$layoutSetup["userCount"]}
			%ul
				{include #menuItem, path => ":User:Homepage:default", icon => "icon-th-list", name => "Přehled uživatelů"}
				{if $cmsParams->modules->user->add || $user->id == 1}
					{include #menuItem, path => ":User:Homepage:add", icon => "icon-plus", name => "Přidat uživatele"}
				{/if}
		</li>
	{/ifset}

	{ifset $activeModules["qr"]}
		<li n:class="submenu, $presenter->module == 'qr' ? 'active open'">
			%a [href => ""]
				%i.icon.icon-qrcode
				%span {$activeModules["qr"]}
			%ul
				{include #menuItem, path => ":QR:Homepage:default", icon => "icon-th-list", name => "Přehled kódů"}
				{include #menuItem, path => ":QR:Homepage:add", icon => "icon-plus", name => "Vygenerovat nový"}
		</li>
	{/ifset}

{/define}


{define #customModules}
	{var $customModules = APP_DIR . "/templates/@adminModulesMenu.latte"}
	{if file_exists($customModules)}
		{include $customModules}
	{/if}
{/define}


{define #menuItem}
<li n:class="$presenter->isLinkCurrent($path) ? active">
	<a n:href="{$path}, id => NULL">
		<i class="icon {$icon}"></i> &nbsp; {_}{$name}{/_}
	</a>
</li>
{/define}
