<!DOCTYPE html>
%html
	%head
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="FreexIT.eu">
		<link rel="shortcut icon" href="{$basePath}/images/cms/favicon.ico">

		{control adminCss}
		{control adminJs}

		<script type="text/javascript" src="{$basePath}/js/ckeditor/ckeditor.js"></script>

		%title Unicorn Admin

	%body
		#header
			%h1
				<a id="menu-trigger" href="#">
					%i.icon-align-justify
				</a>

		#user-nav
			%ul.btn-group
				{if $user->loggedIn}
					%li.btn
						<a n:href=":Front:Homepage:">
							%i.icon-home
							%span.text {_"Zpět na web"}
						</a>

					<li n:class="btn, $presenter->isLinkCurrent(':Admin:Homepage:settings') ? open">
						<a n:href=":Admin:Homepage:settings">
							%i.icon-cog
							%span.text {_"Nastavení"}
						</a>
					</li>

					%li.btn
						<a n:href="logout!">
							%i.icon-share-alt
							%span.text {_"Odhlásit se"}
						</a>
				{/}

		#sidebar
			%ul
				<li n:class="$presenter->isLinkCurrent(':Admin:Homepage:default') ? active">
					<a n:href=":Admin:Homepage:default">
						%i.icon-home
						Domů
					</a>
				</li>

				{if $user->loggedIn}
					{foreach $modules as $module}
						{control adminMenuControl $module}
					{/}

				{else}
					%li.active
						<a n:href=":Admin:Homepage:default">
							%i.icon-cog
							Přihlášení
						</a>
				{/}

		#content
			{capture $contentHeader|trim|strip}
				{if !$user->loggedIn}
					Přihlášení

				{elseif $module == "admin"}
					Vítejte v administraci

				{else}
					{control adminMenuControl:title}
				{/}
			{/}

			{if $contentHeader}
				#content-header
					%h1 {$contentHeader}
			{/}

			{control flashMessageControl}

			.container-fluid
				.row
					.col-xs-12.center
						{include #content}
