# todo move info to documentation

parameters:
	cms: FALSE

	cmsSetup:
		title: "CMS"
		modules:

			page:
				active: FALSE
				title: Stránky
				show_in_sliderbox: FALSE
				publish_state: FALSE # změna stavu publikování
				custom_url: FALSE # <page>/url? page router?
				perex_short: FALSE
				perex_long: FALSE
				# promo_photo: TRUE # možnost vybrat 1 promo fotku z galerie - u stránek není nutné
				attachment_gallery: FALSE # možnost připojit galerii
				attachment_files: FALSE # možnost připojit soubory
				admin_note: FALSE # interní poznámka
				content_history: FALSE # vést changelog a historii zmeň obsahu
				access_to_roles: FALSE # zborazení na frontendu pouze určitým rolím
				uid: FALSE # enable uid editation

			article:
				active: FALSE
				title: Články
				categories: TRUE
				categories_multi: FALSE
				show_in_sliderbox: TRUE
				publish_datetime: TRUE # nastavení data a času publikování
				publish_state: TRUE # změna stavu publikování
				custom_url: TRUE # <page>/url? page router?
				perex_short: TRUE
				perex_long: TRUE
				promo_photo: TRUE # možnost vybrat 1 promo fotku z galerie
				attachment_gallery: FALSE # možnost připojit galerii
				attachment_files: FALSE # možnost připojit soubory
				admin_note: TRUE # interní poznámka
				content_history: FALSE # vést changelog a historii zmeň obsahu
				access_to_roles: FALSE # zborazení na frontendu pouze určitým rolím

			event:
				active: FALSE
				title: Akce
				categories: NULL
				show_in_sliderbox: NULL
				perex: NULL
				calendar: NULL
				expiration: NULL
				gallery_link: NULL
				news: NULL
				link: NULL

			gallery:
				active: FALSE
				title: Fotogalerie
				upload_max_file_size: "2M"
				upload_max_file_count: "200"
				image_width: 800
				image_height: 600
				image_thumb_height: 127
				access_to_roles: FALSE # zborazení na frontendu pouze určitým rolím

			email:
				active: FALSE
				title: Email
				useLogger: FALSE

			user:
				active: FALSE
				title: Uživatelé
				roles: [
					user: Uživatel,
					admin: Administrátor
				]
				add: FALSE
				passwordMinLength: 6

			file:
				active: FALSE
				title: Soubory
				type: single # multi
				attachToUser: FALSE

services:
	userModel: Schmutzka\Models\User
	pageCategoryModel: Schmutzka\Models\PageCategory
	pageInCategoryModel: Schmutzka\Models\PageInCategory
	pageContentModel: Schmutzka\Models\PageContent
	articleInCategoryModel: Schmutzka\Models\ArticleInCategory
	articleCategoryModel: Schmutzka\Models\ArticleCategory
	articleContentModel: Schmutzka\Models\ArticleContent
	galleryModel: Schmutzka\Models\Gallery
	galleryFileModel: Schmutzka\Models\GalleryFile
	fileModel: Schmutzka\Models\File
	customEmail: Schmutzka\Models\CustomEmail
	emailLog: Schmutzka\Models\EmailLog
	cmsPathFilter: Schmutzka\Components\WebLoader\Filter\CmsPathFilter

factories:
	articleForm: ArticleModule\Forms\ArticleForm
	articleCategoryForm: ArticleModule\Forms\ArticleCategoryForm
	# fileForm: FileModule\Forms\FileForm
	galleryForm: GalleryModule\Forms\GalleryForm
	pageForm: PageModule\Forms\PageForm
	pageControl: PageModule\Controls\PageControl

	# UserModule
	userGrid: UserModule\Grids\UserGrid

	articleGrid: ArticleModule\Grids\ArticleGrid
	articleCategoryGrid: ArticleModule\Grids\ArticleCategoryGrid
	fileGrid: FileModule\Grids\FileGrid
	galleryGrid: GalleryModule\Grids\GalleryGrid
	pageGrid: PageModule\Grids\PageGrid
	customEmailGrid: EmailModule\Grids\CustomEmailGrid

webloader:
	css:
		admin:
			files:
				- %assetsDir%/css/bootstrap/bootstrap.min.css
				- %assetsDir%/css/bootstrap/bootstrap-responsive.min.css
				- %assetsDir%/css/jquery/jquery-ui.css
				- %assetsDir%/css/unicorn/unicorn.main.css
				- %assetsDir%/css/unicorn/unicorn.grey.css
				- %assetsDir%/css/chosen/chosen.css
				- %assetsDir%/css/cms/cms.base.css

			filters:
				- @lessFilter
				- @cmsPathFilter

		adminLogin:
			files:
				- %assetsDir%/css/bootstrap/bootstrap.min.css
				- %assetsDir%/css/bootstrap/bootstrap-responsive.min.css
				- %assetsDir%/css/unicorn/unicorn.login.css
				- %assetsDir%/css/cms/cms.login.css
			filters:
				- @lessFilter
				- @cmsPathFilter

	js:
		admin:
			files:
				- %assetsDir%/js/jquery/jquery-1.8.2.min.js
				- %assetsDir%/js/jquery/jquery-ui-1.10.0.min.js
				- %assetsDir%/js/bootstrap/bootstrap.min.js
				- %assetsDir%/js/nette/nette.forms.js
				- %assetsDir%/js/nette/nette.rules.js
				- %assetsDir%/js/nette/nette.ajax.js
				- %assetsDir%/js/datepicker.js

				# use propper js from bought template!
				- %assetsDir%/js/cms/base.js
				- %assetsDir%/js/cms/excanvas.js
				- %assetsDir%/js/cms/jquery02.js
				- %assetsDir%/js/cms/jquery03.js
				- %assetsDir%/js/cms/jquery04.js
				- %assetsDir%/js/cms/unicorn0.js

				- %assetsDir%/js/DateTimePicker/jquery-ui-sliderAccess.js
				- %assetsDir%/js/DateTimePicker/jquery-ui-timepicker-addon.js
				- %assetsDir%/js/DateTimePicker/DateTimePicker.js
				- %assetsDir%/js/DateTimePicker/localization/jquery-ui-timepicker-cs.js

				- TinyMCE/tiny_mce/jquery.tinymce.js
				- TinyMCE/TinyMCE.js

				- jquery/jquery.livequery.min.js # mfu
				- %assetsDir%/js/chosen/chosen.jquery.min.js

		adminLogin:
			files:
				- %assetsDir%/js/jquery/jquery-1.8.2.min.js
				- %assetsDir%/js/unicorn/unicorn.login.js
