parameters:
	cms: FALSE

	cmsSetup:
		title: "CMS"
		modules:
			page:
				active: FALSE
				title: Stránky
				show_in_sliderbox: FALSE
				publish_state: FALSE # změna stavu publikování
				custom_url: FALSE # <page>/url? page router?
				perex_short: FALSE
				perex_long: FALSE
				# promo_photo: TRUE # možnost vybrat 1 promo fotku z galerie - u stránek není nutné
				attachment_gallery: FALSE # možnost připojit galerii
				attachment_files: FALSE # možnost připojit soubory
				admin_note: FALSE # interní poznámka
				content_history: FALSE # vést changelog a historii zmeň obsahu
				access_to_roles: FALSE # zborazení na frontendu pouze určitým rolím
				uid: FALSE # enable uid editation

			article:
				active: FALSE
				title: Články
				categories: TRUE
				categories_multi: FALSE
				show_in_sliderbox: TRUE
				publish_datetime: TRUE # nastavení data a času publikování
				publish_state: TRUE # změna stavu publikování
				custom_url: TRUE # <page>/url? page router?
				perex_short: TRUE
				perex_long: TRUE
				promo_photo: TRUE # možnost vybrat 1 promo fotku z galerie
				attachment_gallery: FALSE # možnost připojit galerii
				attachment_files: FALSE # možnost připojit soubory
				admin_note: TRUE # interní poznámka
				content_history: FALSE # vést changelog a historii zmeň obsahu
				access_to_roles: FALSE # zborazení na frontendu pouze určitým rolím

			event:
				active: FALSE
				title: Akce
				categories: NULL
				show_in_sliderbox: NULL
				perex: NULL
				calendar: NULL
				expiration: NULL
				gallery_link: NULL
				news: NULL
				link: NULL

			gallery:
				active: FALSE
				title: Fotogalerie
				access_to_roles: FALSE # zborazení na frontendu pouze určitým rolím
				size_versions:
					natural: # internal names
						height: 1024
						width: 768
					thumbnail:
						height: 80
						width: 80
				description: FALSE

			email:
				active: FALSE
				title: Email
				useLogger: FALSE

			user:
				active: FALSE
				title: Uživatelé
				roles: [
					user: Uživatel,
					admin: Administrátor
				]
				add: FALSE
				passwordMinLength: 6

			file:
				active: FALSE
				title: Soubory
				type: single # multi
				attachToUser: FALSE

			qr:
				active: FALSE
				title: QR generátor

	jQuery: "jquery-1.10.1.min.js"


services:
	- Schmutzka\Models\ArticleInCategory
	- Schmutzka\Models\ArticleCategory
	- Schmutzka\Models\ArticleContent
	- Schmutzka\Models\CustomEmail
	- Schmutzka\Models\EmailLog
	- Schmutzka\Models\File
	- Schmutzka\Models\Gallery
	- Schmutzka\Models\GalleryFile
	- Schmutzka\Models\PageContent
	- Schmutzka\Models\Qr
	- QrModule\Services\QrGenerator
	cmsPathFilter: Schmutzka\Components\WebLoader\Filter\CmsPathFilter


factories:
	# ArticleModule
	articleControl: ArticleModule\Controls\ArticleControl
	articleCategoryControl: ArticleModule\Controls\ArticleCategoryControl
	articleGrid: ArticleModule\Grids\ArticleGrid
	articleCategoryGrid: ArticleModule\Grids\ArticleCategoryGrid

	# EmailModule
	customEmailGrid: EmailModule\Grids\CustomEmailGrid

	# FileModule
	fileControl: FileModule\Controls\FileControl
	fileGrid: FileModule\Grids\FileGrid

	# GalleryModule
	galleryControl: GalleryModule\Controls\GalleryControl
	galleryGrid: GalleryModule\Grids\GalleryGrid
	uploadControl: GalleryModule\Controls\UploadControl

	# PageModule
	pageControl: PageModule\Controls\PageControl
	pageGrid: PageModule\Grids\PageGrid

	# QrModule
	qrForm: QrModule\Forms\QrForm

	# UserModule
	userGrid: UserModule\Grids\UserGrid


webloader:
	css:
		admin:
			files:
				- %assetsDir%/css/bootstrap/bootstrap.min.css
				- %assetsDir%/css/bootstrap/bootstrap-responsive.min.css
				- %assetsDir%/css/jquery/jquery-ui.css
				- %assetsDir%/css/jquery/chosen/chosen.css
				- %assetsDir%/css/unicorn/unicorn.main.css
				- %assetsDir%/css/unicorn/unicorn.grey.css
				- %assetsDir%/css/cms/cms.base.css

			filters:
				- @lessFilter
				- @cmsPathFilter

		adminLogin:
			files:
				- %assetsDir%/css/bootstrap/bootstrap.min.css
				- %assetsDir%/css/bootstrap/bootstrap-responsive.min.css
				- %assetsDir%/css/unicorn/unicorn.login.css
				- %assetsDir%/css/cms/cms.login.css

			remoteFiles:
				- "http://fonts.googleapis.com/css?family=Roboto:400,100&subset=latin,latin-ext"

			filters:
				- @lessFilter
				- @cmsPathFilter

	js:
		admin:
			files:
				- %assetsDir%/js/jquery/%jQuery%
				- %assetsDir%/js/jquery/jquery-ui-1.10.0.min.js
				- %assetsDir%/js/bootstrap/bootstrap.min.js
				- %assetsDir%/js/nette/nette.forms.js
				- %assetsDir%/js/nette/nette.rules.js
				- %assetsDir%/js/nette/nette.ajax.js
				- %assetsDir%/js/datepicker.js

				# use propper js from bought template!
				- %assetsDir%/js/cms/base.js
				- %assetsDir%/js/unicorn/unicorn.js

				- %assetsDir%/js/DateTimePicker/jquery-ui-sliderAccess.js
				- %assetsDir%/js/DateTimePicker/jquery-ui-timepicker-addon.js
				- %assetsDir%/js/DateTimePicker/DateTimePicker.js
				- %assetsDir%/js/DateTimePicker/localization/jquery-ui-timepicker-cs.js

				- %assetsDir%/js/chosen/chosen.jquery.min.js

		adminLogin:
			files:
				- %assetsDir%/js/jquery/%jQuery%
				- %assetsDir%/js/unicorn/unicorn.login.js
