php:
	date.timezone: Europe/Prague
	session.save_path: %tempDir%/sessions
	zlib.output_compression: yes


parameters:
	libsDir: %appDir%/../libs
	assetsDir: %libsDir%/Schmutzka/assets

nette:
	session:
		autoStart: smart
		expiration: 14 days
		debugger: TRUE

	container:
		debugger: TRUE

	debugger:
		email: tomas.vot@gmail.com
		strictMode: TRUE
		bar:
			# - Schmutzka\Diagnostics\Panels\CallbackPanel
			- Schmutzka\Diagnostics\Panels\DumpMail

	security:
		debugger: TRUE

	latte:
		macros:
			- Schmutzka\Templates\Macros::install


services:
	routerFactory: RouterFactory
	router: @routerFactory::createRouter
	cache: Nette\Caching\Cache(@cacheStorage, "dataCache")
	paramService: Schmutzka\Config\ParamService(@container::getParameters())
	sessionStorage: Services\SessionStorage
	template: Schmutzka\Templates\TemplateService
	helpers: Schmutzka\Templates\Helpers
	localization: Schmutzka\Localization

	# cms
	userModel: Schmutzka\Models\User
	pageModel: Schmutzka\Models\Page
	pageCategoryModel: Schmutzka\Models\PageCategory
	pageContentModel: Schmutzka\Models\PageContent
	articleModel: Schmutzka\Models\Article
	articleCategoryModel: Schmutzka\Models\ArticleCategory
	articleContentModel: Schmutzka\Models\ArticleContent
	galleryModel: Schmutzka\Models\Gallery
	galleryFileModel: Schmutzka\Models\GalleryFile
	fileModel: Schmutzka\Models\File
	customEmail: Schmutzka\Models\CustomEmail
	emailLog: Schmutzka\Models\EmailLog	


factories:
	titleControl: Components\TitleControl

	# cms
	userForm: UserModule\Forms\UserForm
	userGrid: UserModule\Grids\UserGrid


extensions:
	replicator: Kdyby\Replicator\DI\ReplicatorExtension
	bootstrapRenderer: Kdyby\BootstrapFormRenderer\DI\RendererExtension
	gpspicker: VojtechDobes\NetteForms\GpsPickerExtension
	webloader: WebLoader\Nette\Extension
