common:
	parameters:
		dbLogger: #settings for class dbLogger 
			devOnly: TRUE #log only on development version

	php:
		date.timezone: Europe/Prague
		session.save_path: %tempDir%/sessions
		zlib.output_compression: yes
	
	nette:
		session:
			autoStart: smart
			expiration: 14 days

		container:
			debugger: TRUE  

		debugger:
			email: tomas.vot@gmail.com
			strictMode: TRUE
			maxDepht: 3
			maxLen: 4096
			bar:
				- Schmutzka\Panels\SessionPanel(@application, @session)
				- Schmutzka\Panels\DumpMail(@session)
				- Schmutzka\Panels\Navigation
				- Schmutzka\Panels\Stopwatch

		database:
			default:
				dsn: "%database.driver%:host=%database.host%;dbname=%database.dbname%"
				user: %database.username%
				password: %database.password%			

		security:
			debugger: FALSE

	services:
		authenticator: Schmutzka\Security\Authenticator(@database::user())

		cache: Nette\Caching\Cache(@cacheStorage, "dataCache")

		dbcache: NotORM_Cache_Include("%tempDir%/notorm.cache")

		database: NotORM(@\PDO, NULL, @dbcache)

		nette.database.defaultConnectionPanel: Schmutzka\Panels\ConnectionPanel

		sessionStorage: Services\SessionStorage

		user:  Schmutzka\Security\User

		# session:
			# setup:
				# - setStorage()
				# - setSavePath("%tempDir%/session.sqlite")
				# - setExpiration(+ 14 day)

	factories:
		loginForm: Schmutzka\Forms\LoginForm

		registrationForm: Schmutzka\Forms\RegistrationForm(@container)

		changePasswordForm: Schmutzka\Forms\ChangePasswordForm(@container)

		feedbackForm: Schmutzka\Forms\FeedbackForm(@user)

		remindPasswordForm: Schmutzka\Forms\RemindPasswordForm(@container)	

		mailingList: Components\MailingListControl(@container)

		userForm: Schmutzka\Forms\UserForm(@container)

		templateFactory: Schmutzka\Templates\TemplateFactory(@container)

			

production < common:
	parameters:
		database:
			driver: mysql
			host: mysql5
			dbname: 
			username: 
			password: 


development < common: