php:
	date.timezone: Europe/Prague
	session.save_path: %tempDir%/sessions
	zlib.output_compression: yes


parameters:
	libsDir: %appDir%/../libs
	assetsDir: %libsDir%/Schmutzka/assets


nette:
	session:
		autoStart: smart
		expiration: 14 days
		debugger: TRUE

	container:
		debugger: TRUE

	debugger:
		email: tomas.vot@gmail.com
		strictMode: TRUE
		showLocation: TRUE
		bar:
			# - Schmutzka\Diagnostics\Panels\CallbackPanel
			- @dumpMailPanel

	security:
		debugger: TRUE

	latte:
		macros:
			- Schmutzka\Templates\Macros::install


services:
	routerFactory: RouterFactory
	router: @routerFactory::createRouter
	cache: Nette\Caching\Cache(@cacheStorage, "dataCache")
	paramService: Schmutzka\Config\ParamService(@container::getParameters())
	sessionStorage: Services\SessionStorage
	template:
		class: Schmutzka\Templates\TemplateService
		setup:
			- setLatte(@nette.latte)
	helpers: Schmutzka\Templates\Helpers
	localization: Schmutzka\Localization
	lessFilter: Schmutzka\Components\WebLoader\Filter\LessFilter
	lessc: lessc


factories:
	titleControl: Components\TitleControl
	flashMessageControl: Components\FlashMessageControl
	registrationControl: Components\RegistrationControl
	dumpMailPanel: Schmutzka\Diagnostics\Panels\DumpMail

	loginForm: Schmutzka\Forms\LoginForm



extensions:
	replicator: Kdyby\Replicator\DI\ReplicatorExtension
	bootstrapRenderer: Kdyby\BootstrapFormRenderer\DI\RendererExtension
	gpspicker: VojtechDobes\NetteForms\GpsPickerExtension
	webloader: WebLoader\Nette\Extension


webloader:
	css:
		default:
			filters:
				- @lessFilter
