<a href='#myModal-{$id}' class='btn' data-toggle='modal'>{$button}</a>

<div class='modal fade' id='myModal-{$id}' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
	.modal-dialog
		.modal-content
			.modal-header
				<button type='button' class='close' data-dismiss='modal' aria-hidden='true'>×</button>
				{$header}

			.modal-body
				{$body}
</div>
