@blue: #0088CC;


/*	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	~ Admin menu
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


#sidebar .submenu .active a:not(.menuAddButton) {
	background: darken(@blue, 5%);
	color: #FFF;
}

#sidebar > ul > li.topmenu.active {
	background: @blue;

	a {
		color: #FFF;
	}
}


/*	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	~ Screen admin
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.tab-content {
	overflow: none;
	overflow: hidden;

	.span12 {
		width: 600px;
	}
}


#newsletterForm {
	.email_list {
		width: 810px;
		height: 50px;
	}
}


.loggerDetail {
	width: 100%;
	border: 5px solid #FFF;
	height: 600px;
}


/*	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	~ Forms
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.menuBreak {
	background: #333;
	height: 7px;
}


textarea.wider {
	width: 700px;
	height: 60px;
}


/*	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	~ MenuModule
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.dd {
	.active {
		.ico(active, 0, 50%);

		&:hover {
			.inactive;
		}
	}
	.inactive {
		.ico(inactive, 0, 50%);

		&:hover {
			.active;
		}
	}

	.active, .inactive, .edit {margin-right: 10px;}
}


/*	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	~ Admin
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.move {
	cursor: move;
}

#content {
	table {
		th, td {
			.btn {
				margin: -5px 0;
			}
		}
	}

	.newButton {
		margin: -61px 0 40px 0;
		.clearfix;
		float: right;
	}
}

#content-header {
	border-bottom: 6px solid #DDD;
	margin-bottom: 15px;
}

#article {
	#pickImage {.clearfix;margin-bottom:20px;
		img {height:80px;margin:3px;border:4px solid #FFF;
			&:hover {border:4px solid #DDD}
		}
	}

	ul#pickGallery {
		li {width:200px;float:left}
	}

	.promoPhoto {.clearfix;width:100%;
		img {height:200px;margin:0 0 10px 0;border:4px solid #DDD;}
	}
}

#galleryFileList {
	.clearfix;

	ul {
		list-style-type: none;

		li {
			float: left;
			text-align: center;
			border:1px solid #DDD;
			padding: 3px;
			margin: 3px;
			background: #FFF;

			img { /* bug fix */
				margin-left: 4px;
				margin-top: 4px;
			}
		}
	}
}


/*	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	~ icos @see: .ico
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.addIco {
	.ico(add)
}

.del {
	.icoCms(del, 50%, 50%);
}
.delLeft {
	.ico(del, 0%, 0%);
}

a.del {
	text-decoration:none;
}

.edit {
	.icoCms(edit, 50%, 50%)
}

.emailMe {
	.ico(emailMe)
}

.copy {
	.ico(copy, 50%, 50%)
}

.work {
	.ico(work, 0%, 50%, 30px)
}
.user {
	.ico(user, 0%, 50%, 30px)
}

th.time, .time {
	.ico(time, 0%, 50%, 30px)
}

.logout {
	.ico(logout, 50%, 65%)
}

.link {
	.ico(link, 10px, 50%, 33px);
}

.email {
	.ico(email, 10px, 50%, 33px);
}

.name {
	.ico(user, 0, 50%, 33px);
}
.password {
	.ico(password, 0, 50%, 33px);
}

.help {
	.ico(help, 0, 50%, 33px);
}

.activity {
	.ico(activity, 0, 50%, 33px);
}


/*	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	~ functions & shortucts (required to be at the same file, unless doesn't inherit functions)
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


#ui-datepicker-div {
	float: left;
	z-index: 20;
	display: none;
	font-size: 1em;
}


#ui-helper-clearfix {
	margin-left: 18em;
}


legend {
	line-height: 2em;
	border-top: 1px solid #FFF;
	padding-left: 20px;
	background: #FFF;
	font-size: 1.5em;
}


.ico(@image, @x: 0px, @y: 50%, @l: 20px) {
	background: url("../../images/ico/@{image}.png") @x @y no-repeat;
	padding-left: @l;
}


.icoCms(@image, @x: 0px, @y: 50%, @l: 20px) {
	background: url("../../images/cms/ico/@{image}.png") @x @y no-repeat;
	padding-left: @l;
}
