@blue: #51A351;

.loggerDetail {
	width: 100%; border: 5px solid #FFF;height:600px;
}



/*	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	~ Admin menu
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


#sidebar .submenu .active a:not(.menuAddButton) {
	background: darken(@blue, 5%);
	color: #FFF;
}

#sidebar > ul > li.topmenu.active {
	background: @blue;

	a {
		color: #FFF;
	}
}


/*	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	~ Screen admin
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.tab-content {
	overflow: none;
	overflow: hidden;

	.span12 {
		width: 600px;
	}
}


#newsletterForm {
	.email_list {width:810px;height:50px}
}


#exerciseControl {
	#addOption {
		width: 400px;
		margin-top: 6px;

		.btn {
			float: right;
		}
	}

	.title {
		padding:15px;

		.checkbox label {
			margin-left: -20px;
		}
	}

	.text td {
		border: none;
	}
}


/*	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	~ Forms
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.menuBreak {
	background: #333;
	height: 7px;
}

textarea.wider {
	width: 700px;
	height: 60px;
}


/*	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	~ MenuModule
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.dd {
	.active {
		.ico(active, 0, 50%);

		&:hover {
			.inactive;
		}
	}
	.inactive {
		.ico(inactive, 0, 50%);

		&:hover {
			.active;
		}
	}

	.active, .inactive, .edit {margin-right: 10px;}
}


/*	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	~ Admin
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.move {cursor: move;}

@blue: #0088CC;

#content {
	margin-top: -25px;

	table {
		th, td {
			.btn {
				margin: -5px 0;
			}
		}
	}

	.newButton {
		margin-bottom: 15px;
		.clearfix;
		float: right;
	}
}

#content-header {
	border-bottom: 3px solid #EEE;
	.ish;
}

#article {
	#pickImage {.clearfix;margin-bottom:20px;
		img {height:80px;margin:3px;border:4px solid #FFF;
			&:hover {border:4px solid #DDD}
		}
	}

	ul#pickGallery {
		li {width:200px;float:left}
	}

	.promoPhoto {.clearfix;width:100%;
		img {height:200px;margin:0 0 10px 0;border:4px solid #DDD;}
	}
}


#content.admin {
	.leftMenu {
		ul {margin-left:0px;
			li {list-style-type:none;margin:3px 0;
				a {display:block}
			}
		}
	}
	.rightContent {margin-top:-16px;}
}

#galleryFileList {.clearfix;
	ul {list-style-type: none;
		li {float:left;text-align:center;border:1px solid #DDD;padding: 3px; margin: 3px; background: #FFF;
			img {margin-left:4px; margin-top: 4px;} /* bug fix */
		}
	}
}

legend {
	font-size:1em;
	margin-bottom:0px;
	font-weight:bold;
	border:none;
	padding-left:15px;
	background:#F5F5F5;
}

legend + .control-group {
	margin-top: 0px;
}


#settingsForm {
	fieldset {margin-bottom:10px}
	.settingsFormActivactor {margin-top:-45px;margin-left:-15px;
		.control-group {border:none}
	}

	#page_module, #article_module, #event_module, #gallery_module, #bulletin_module, #email_module, #user_module, #submit_group {
		legend {display:none;}
	}
}


#email {
	#settingsForm {backround:red;
		label {width:300px}
		.btn {margin-left:121px}
	}
}


/*	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	~ icos @see: .ico
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.addIco {.ico(add)}

.del {.icoCms(del, 50%, 50%);}
.delLeft {.ico(del, 0%, 0%);}

a.del {text-decoration:none;}

.edit {.icoCms(edit, 50%, 50%)}

.emailMe {.ico(emailMe)}

.copy {.ico(copy, 50%, 50%)}

.work {.ico(work, 0%, 50%, 30px)}
.user {.ico(user, 0%, 50%, 30px)}

th.time, .time {.ico(time, 0%, 50%, 30px)}


.logout {.ico(logout, 50%, 65%)}

.link {.ico(link, 10px, 50%, 33px);}

.email {.ico(email, 10px, 50%, 33px);}

.name {.ico(user, 0, 50%, 33px);}
.password {.ico(password, 0, 50%, 33px);}

.help {.ico(help, 0, 50%, 33px);}
.activity {.ico(activity, 0, 50%, 33px);}


/*	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	~ functions & shortucts (required to be at the same file, unless doesn't inherit functions)
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ico functions */
.ico(@image, @x: 0px, @y: 50%, @l: 20px) {
	background:url("../../images/ico/@{image}.png") @x @y no-repeat;padding-left:@l;
}

.icoCms(@image, @x: 0px, @y: 50%, @l: 20px) {
	background:url("../../images/cms/ico/@{image}.png") @x @y no-repeat;padding-left:@l;
}
