#adminLogin {width:400px; margin:auto; text-align: center;

	#title {font:2.2em "Calibri", "Trebuchet MS", sans-serif;color:#FFF; margin: 100px auto 0 auto; line-height:3em;}

	#loginbox {height:240px;
		.infoMessage {margin-bottom:20px}
		.form-actions {padding:20px}
	}

	#recoverform {
		.control-group {height:60px}
	}

}
