{#contentHeader}
	%h1 {_"Nová kategorie"}
{/} 


{#breadcrumb}
	<a n:href="default" class="tip-bottom">{_"Kategorie akcí"}</a>
	<a n:href="add" class="current">{_"Nová"}</a>
{/}


{#content}
	{control eventCategoryForm}
