{form form}
	%p.infoMessage Zadejte vaše přihlašovací údaje
	.input-group
		%span.input-group-addon
			%i.glyphicon.glyphicon-user
		{input login}

	.input-group
		%span.input-group-addon
			%i.glyphicon.glyphicon-lock
			.input-prepend
		{input password}

	%hr

	.form-actions
		.pull-left
			<a href='#' class='flip-link to-recover'>Zapomněli jste heslo?</a>
		.pull-right
			{input send}
{/}
