{#contentHeader}
	%h1 Nový uživatel
{/#}


{#breadcrumb}
	<a n:href="default" class="tip-bottom">{_"Správa uživatelů"}</a>
	<a n:href="add" class="current">{_"Nový"}</a>
{/#}


{#content}

{control userControl}
