{define #contentHeader}
	%h1 {_"Přehled uživatelů"}
{/define} 

{define #breadcrumb}
	<a n:href="default" class="current">{_"Správa uživatelů"}</a>
{/define}


{define #content}

{control userGrid}

{/define}