{#contentHeader}
	%h1 {$item["login"]}
{/#}


{#breadcrumb}
	<a n:href="default, id => NULL" class="tip-bottom">{_"Správa uživatelů"}</a>
	<a n:href="edit" class="current">{_"Úprava"}</a>
{/#}


{#content}

{control userControl}
