{if count($items) >= 2}
	<li n:class="submenu, $presenter->module == $module ? 'active open'">
		<a href="#">
			<i n:class="$icon"></i>
			{$title}
		</a>
		%ul
			{foreach $items as $item}
				{var $link = ":" . $module . ":" . $item->link}
				<li n:class="topmenu, $presenter->isLinkCurrent($link) ? 'active'">
					<a href="{plink $link}">
						{$item->label}
					</a>
				</li>
			{/}

{else}
	<li n:class="topmenu, $presenter->module == $module ? 'active'">
		{var $link = ":" . $module . ":Homepage:default"}
		<a href="{plink $link}">
			<i n:class="$icon"></i>
			{$title}
		</a>
	</li>
{/}
