{ifset $menu->items}
	<li n:class="submenu, $presenter->module == $module ? 'active open'">
		<a href="">
			<i n:class="icon, $menu->baseIcon"></i>
			{$title}
		</a>
		%ul
			{foreach $menu->items as $label => $item}
				{if (!isset($item->cond) || (isset($item->cond) && $moduleParams->{$item->cond}))}
					{var $path = ":" . ucfirst($module) . ":" . $item->path}
					{include #menuItem, path => $path, icon => $item->icon, name => $label}
				{/}
			{/}
	</li>

{else}
	<li n:class="topmenu, $presenter->module == $module ? 'active'">
		<a href="{plink :{$module}:Homepage:default}">
			<i n:class="icon, $menu->baseIcon"></i>
			{$title}
		</a>
	</li>
{/}


{define #menuItem}

<li n:class="$presenter->isLinkCurrent($path) ? active">
	<a n:phref="$path, id => NULL">
		<i class="icon {$icon}"></i> &nbsp; {$name}
	</a>
</li>

{/}
