#nette-debug-session-panel {max-width: 900px;max-height: 600px;overflow: auto;}
#nette-debug-session-panel table {width: 100%;margin-bottom: 0.5em;}

#nette-debug-session-panel .key {width: 100px !important;font-weight: bolder;}
#nette-debug-session-panel thead td {font-weight: bolder;font-size: 14px;}

#nette-debug-session-panel pre {width: 500px !important;overflow:  auto;padding: 0;border: 0px none !important;border-radius: 0px !important;box-shadow: none !important;}

#nette-debug-session-panel h1, #nette-debug-session-panel h2 {margin: 0 !important;font-family: inherit !important;	font-weight: bold !important;color: inherit !important;text-rendering: optimizelegibility !important;}
#nette-debug-session-panel h1 {font-size: 30px !important;line-height: 36px !important;}
#nette-debug-session-panel h2{font-size: 24px !important;line-height: 36px !important;}