{#contentHeader}
	%h1 {_"Newsletter"}
{/}


{#breadcrumb}
	<a n:href="default">{_"Newsletter"}</a>
	<a n:href="log" class="current">{_"Log"}</a>
{/}


{#content}
	#newsletterLog
		{control newsletterLogGrid}
