baseIcon: icon-file
items:
	"Přehled článků":
		path: Homepage:default
		icon: icon-th-list
		addPath: Homepage:add
	"Přehled kategorií":
		cond: categories
		path: Category:default
		icon: icon-th-list
		addPath: Category:add