parameters:
	articleModule:
		title: Články
		categories: FALSE
		publishDatetime: FALSE
		publishState: FALSE
		publishTypes:
			concept: Koncept
			public: Publikován
		perexShort: FALSE
		perexLong: FALSE
		promoPhoto: FALSE
		attachmentGallery: FALSE
		attachmentFiles: FALSE
		adminNote: FALSE
		contentHistory: FALSE
		accessToRoles: FALSE
		qr: FALSE
		customAuthorName: FALSE
		menu:
			icon: icon-file
			items:
				1:
					label: Přehled článků
					link: Homepage:default
				2:
					cond: categories
					label: Kategorie
					link: Category:default

services:
	- Schmutzka\Models\Article
	- Schmutzka\Models\ArticleInCategory
	- Schmutzka\Models\ArticleCategory
	- Schmutzka\Models\ArticleContent

factories:
	articleControl: ArticleModule\Components\ArticleControl
	articleCategoryControl: ArticleModule\Components\ArticleCategoryControl
	articleGrid: ArticleModule\Components\ArticleGrid
	articleCategoryGrid: ArticleModule\Components\ArticleCategoryGrid
