{extends $moduleGridTemplate}


{define body-cell-name}
	<td style="width:20%">
		{$value}
	</td>
{/}


{define body-cell-uid}
	<td style="width:10%">
		{$value}
	</td>
{/}


{define body-cell-content}
	<td>{!$value}</td>
{/}
