{snippet}

	{if $isFavorite}
		<a n:class='$favoriteClass, $useAjax ? ajax' n:href='unfavour!, id => $id' {if $useTooltip}n:tooltip='Odebrat z oblíbených'{/}>&nbsp;</a>

	{else}
		<a n:class='$nonFavoriteClass, $useAjax ? ajax' n:href='favour!,  id => $id' {if $useTooltip}n:tooltip='Přidat do oblíbených'{/}>&nbsp;</a>
	{/}

{/snippet}