{if $paginator->pageCount && $paginator->pageCount > 1}
.pagination
	%ul 
		{foreach $steps as $step}
			{if $step == $paginator->page}
				%li.active <a href="#">{$step}</a>
			{else}
				%li <a n:href="this, page => $step">{$step}</a>
			{/if}

			{if $iterator->nextValue > $step + 1}
				%li <a href="#" class="dislabled">…</a>
			{/if}
		{/foreach}
{/if}