parameters:
	qrModule:
		title: QR generátor
		menu:
			baseIcon: glyphicon-qrcode

services:
	- Schmutzka\Models\Qr
	- QrModule\Services\QrGenerator

factories:
	qrControl: QrModule\Components\QrControl
