parameters:
	fileModule:
		title: Soubory
		type: single # multi
		attachToUser: FALSE
		menu:
			icon: icon-file
			items:
				[
					label: Přehled souborů
					link: Homepage:default
				]

services:
	- Schmutzka\Models\File

factories:
	fileControl: FileModule\Components\FileControl
	fileGrid: FileModule\Components\FileGrid
