{form form}
	%p Nevadí. Zadejte Vaši emailovou adresu a nechte si poslat nové.

	.input-group
		%span.input-group-addon
			%i.glyphicon.glyphicon-envelope
		{input email}

	%hr

	.form-actions
		.pull-left
			<a href='#' class="flip-link to-login">&laquo; Zpět na přihlášení</a>
		.pull-right
			{input send}
{/}
