{form form, id => "recoverform", class => "form-vertical"}
	%p.infoMessage
		Nevadí!
		%br
		Zadejte Vaši emailovou adresu a nechte si poslat nové.

	.control-group
		.controls
			.input-prepend
				%span.add-on
					%i.icon-envelope

				{input email, placeholder => "Zadejte Váš email"}

	.form-actions
		%span.pull-left
			<a href="#" class="flip-link" id="to-login">&laquo; Zpět na přihlášení</a>
		%span.pull-right
			{input send, class => "btn btn-success"}
{/}
