<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
{_"Dobrý den"},<br>
<br>
{_"na stránce"} {$company} {_"byla zaznamenána žádost o obnovu hesla"}. {_"Pokud jste o ni požádali, klikněte na následující odkaz"}.<br>
{_"V opačném případně email ignorujte"}.<br>
<br>
<strong><a n:href="//remindPassword! hash => $remindHash">{_"Potvrdit zaslání nového hesla"}</a></strong><br>
<br>
<br>
{_"S přáním pěkného dne"}
<br>
<br>
{$company}
</body>
</html>