<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
{_"Dobrý den"},<br>
<br>
{_"na stránce"} {$company} {_"jste zažádali o zaslání nového hesla"}.<br>
<br>
{_"Vaše nové heslo"}: <strong>{$password}</strong><br>
<br>
<br>
{_"S přáním pěkného dne"}
<br>
<br>
{$company}
</body>
</html>