<?php

namespace Nette\Security\Diagnostics;

use Nette,
	Nette\Diagnostics\Helpers;

?>
<style>#nette-debug .nette-SessionPanel pre{background:#FDF5CE;padding:.4em .7em;border:1px dotted silver;overflow:auto}</style>

<div class="nette-SessionPanel">
	<h1>Sessions</h1>
	<?php

		$ret = array();
		foreach($this->session->getIterator() as $ns) {
			$ret[$ns] = iterator_to_array($this->session->getSection($ns));
		}
		echo Helpers::clickableDump($ret);

	?>

</div>