<?php

$sessionCount = $this->session->getIterator()->count();
if($sessionCount > 1) {
	$text = $sessionCount." sessions";
}
elseif($sessionCount) {
	$text = $sessionCount." session";
}
else {
	$text = "no session";
}

echo "<img src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAK3RFWHRDcmVhdGlvbiBUaW1lAE1vIDI3IEF1ZyAyMDA3IDEzOjE5OjMxICswMTAwB5WTGAAAAAd0SU1FB9cIGwshBh0uQl8AAAAJcEhZ
cwAACxIAAAsSAdLdfvwAAAAEZ0FNQQAAsY8L/GEFAAACoUlEQVR42sWT20uTcRjHv9v77n13VLelm+kqtaVhHspK06kkeRERBF0VgUEX5kVHypu86KYLjRIiCqEDrbsgoqKboGQRrpOShpKRmFNza3Pn
d9t7+r2thRfiH+AXHvjePB+e5+H7AOst1Yo53NOtZxnH/cVgpDWW4IJQ5F+yTFI0Tc0SQv5kvU+joeOSTBbsNnHW8/CRuApworf/QlV9802rsxZGrQZcPAqO4xCLRrI+hngiCT6ZQCQSDPj9AYXj0uZQKDRNrwBSqUxPu6sBnCAiHV8GqwW22QuRljZgKSqiVAmixOgHo6mwsQVVCGWAtqPdlTnAuf6hRopinCxFwEk8pn5HQKsZLEfTSIsybEYWteUUEqN3MPljDnUHevFurgxSKjaVA4TDyYtXTrfAxnowkXSiwrEFOkoCS8kgRELj5nwwSy9g2FiNQMwAtmgf3INuUJAH1SfPXLfyEjmySe9FfPoSEmkZFVag2KRArwEotRruu1cxcNuNhaCIykNDmAoC38c/EoWXX9NxVfL83oY25q2Pgll9GQU6Ez6MvIdEgCKbHd4n18D7RtDe3YfHz57i560ayC0DIFzMK8x4AjTLGrqqtzuRp6NQaKmHSBQ0N+2BmCXMRwQUtJxFqrwTHu838OEUBFHB5OgnUIr04N/69Phs0LQ/mgKvygPFybDnZedWACLz8IeSoBgDNKW7wVhqoCo/BouiwuKNPjkjRl7lcpDXeqpBzTLHs00doLXV+WazZkdlGeqyxREtbCYGCS4NA02y9xEw/HkSX1/eGxbmxjpWBSmnnQcN+XproyLLLplPuoiiamJ0RlNhcQmsxQ5Y7A58efMc8ZmxLn5+wr0WsFaUfmtznSBlXIoodGZrF63VS0IsXI+YL7Lef/hffwF6Ayvx5Fo+zgAAAABJRU5ErkJggg=='>".$text;