{define #contentHeader}
	%h1 {_"Nová kategorie"}
{/define} 


{define #breadcrumb}
	<a n:href="default" class="tip-bottom">{_"Kategorie článků"}</a>
	<a n:href="add" class="current">{_"Nová"}</a>
{/define}


{define #content}

{control articleCategoryForm}

{/define}