{define #contentHeader}
	%h1 {_"Přehled kategorií"}
{/define} 

{define #breadcrumb}
	<a n:href="default" class="current">{_"Kategorie článků"}</a>
{/define}


{define #content}

{control articleCategoryGrid}
	
{/define}