{define #contentHeader}
	%h1 {_"Nový QR kód"}
{/define}

{define #breadcrumb}
	<a n:href="default" class="tip-bottom">{_"Správa QR kódů"}</a>
	<a n:href="add" class="current">{_"Nový QR kód"}</a>
{/define}


{define #content}

{control qrForm}

{/define}
