{define #contentHeader}
	%h1 {_"Nový článek"}
{/define} 

{define #breadcrumb}
	<a n:href="default" class="tip-bottom">{_"Správa článků"}</a>
	<a n:href="add" class="current">{_"Nový článek"}</a>
{/define}


{define #content}

{control articleForm}

{/define}