<h3>{= $monthNames[date("n",strtotime($activeMonth))]|firstUpper} {$activeMonth|date:"Y"}</h3>

<div id="navigation">
	<a class="prev" href="{plink this activeMonth => $prevMonth}">&laquo; Předchozí měsíc</a>
	<a class="next" href="{plink this activeMonth => $nextMonth}">Další měsíc &raquo;</a>
</div>

<table cellpadding="0" cellspacing="0" class="calendar">
    <tr class="calendar-row"><th>{!$dayNames|implode:'</th><th>'}</th></tr>
    <tr class="calendar-row">

    {* print "blank" days until the first of the current week *}
    {for $x = 0; $x < $running_day; $x++}
        <td class="calendar-day-np">&nbsp;</td>
        {?$days_in_this_week++}
     {/for}

    {* keep going with days.... *}
    {for $list_day = 1; $list_day <= $days_in_month; $list_day++}
		{if $list_day < 10} {var $list_day = "0".$list_day}{/if}
		{var $dayInfo = $monthArray["$activeMonth-$list_day"]}
        <td n:class="calendar-day, $dayInfo['active'] ? active">
            {* add in the day number *}
			
            <div class="day-number">{$list_day}</div>

				{if $dayInfo["active"]}
					{foreach $dayInfo["actions"] as $action}
						{if $iterator->getCounter() < 3}
							{first}<ul>{/first}
								<li>{$action["title"]}</li>
							{last}</ul>{/last}
						{elseif $iterator->getCounter() == 3}
							{var $rest = $iterator->count()-3}
							+ {$rest} {if $rest > 4}dalších{else}další{/if}
						{/if}
					{/foreach}
				{/if}
                     
        </td>

        {if $running_day == 6}
            </tr>

            {if ($day_counter + 1) != $days_in_month}
                <tr class="calendar-row">

            {/if}

            {? $running_day = -1}
            {? $days_in_this_week = 0}
        {/if}
        {? $days_in_this_week++} {? $running_day++} {? $day_counter++}
    {/for}

    {* finish the rest of the days in the week *}
    {if $days_in_this_week < 8}
        {for $x = 1; $x <= (8 - $days_in_this_week); $x++}
          <td class="calendar-day-np">&nbsp;</td>
        {/for}
    {/if}

    </tr>
</table>