parameters:
	logUserActivity: TRUE

services:
	user: Schmutzka\Security\User
	userManager: Schmutzka\Security\UserManager
	userModel: Schmutzka\Models\User

factories:
	changePasswordControl: Components\ChangePasswordControl
	loginControl: Components\LoginControl
	registrationControl: Components\RegistrationControl
	remindPasswordControl: Components\RemindPasswordControl

extensions:
	notorm: NotORMExtension\DI\Extension

notorm:
	username: root
	password:
	dbname:
