{#contentHeader}
	%h1 {_"Nová stránka"}
{/} 


{#breadcrumb}
	<a n:href="default" class="tip-bottom">{_"Správa stránek"}</a>
	<a n:href="add" class="current">{_"Nová stránka"}</a>
{/}


{#content}
	{control pageControl}
