{define #contentHeader}
	%h1 {_"Přehled stránek"}
{/define} 

{define #breadcrumb}
	<a n:href="default" class="current">{_"Správa stránek"}</a>
{/define}


{define #content}

{control pageGrid}

{/define}