{#contentHeader}
	%h1 {$item["title"]}
{/}


{#breadcrumb}
	<a n:href=":Event:Homepage:default, id => NULL" class="tip-bottom">{_"Akce"}</a>
	<a n:href=":Event:Homepage:add" class="current">{_"Úprava"}</a>
{/}


{#content}
	{control eventControl}
