parameters:
	emailModule:
		title: Emaily
		useLogger: FALSE
		newsletter: FALSE
		senderName:
		infoEmail:
		noReplyEmail:
		menu:
			icon: icon-envelope
			items:
				1:
					label: Šablony emailů
					link: CustomEmail:default
				2:
					cond: newsletter
					label: Newsletter
					link: Newsletter:default
				3:
					cond: useLogger
					label: Log
					link: Newsletter:log

services:
	- Schmutzka\Models\CustomEmail
	- Schmutzka\Models\EmailLog

factories:
	customEmailGrid: EmailModule\Components\CustomEmailGrid
	customEmailControl: EmailModule\Components\CustomEmailControl
	emailLogGrid: EmailModule\Components\EmailLogGrid
	newsletterControl: EmailModule\Components\NewsletterControl
