parameters:
	emailModule:
		useLogger: FALSE
		newsletter: FALSE
		title: Emaily
		menu:
			icon: icon-envelope
			items:
				1:
					label: Šablony emailů
					link: CustomEmail:default
				2:
					label: Nastavení
					link: Settings:default
				3:
					label: Newsletter
					link: Newsletter:default
				4:
					label: Log
					link: Newslette:log

services:
	- Schmutzka\Models\CustomEmail
	- Schmutzka\Models\EmailLog
	- Schmutzka\Models\EmailSettings

factories:
	customEmailGrid: EmailModule\Components\CustomEmailGrid
	customEmailControl: EmailModule\Components\CustomEmailControl
	emailSettingsControl: EmailModule\Components\EmailSettingsControl
