{define #contentHeader}
	%h1 {_"Nová fotogalerie"}
{/define} 

{define #breadcrumb}
	<a n:href="default" class="tip-bottom">{_"Fotogalerie"}</a>
	<a n:href="add" class="current">{_"Nová"}</a>
{/define}


{define #content}

{control galleryForm}

{/define}