{define #contentHeader}
	%h1 {_"Nová šablona"}
{/define} 

{define #breadcrumb}
	<a n:href="default" class="tip-bottom">{_"Správa šablon emailů"}</a>
	<a n:href="add" class="current">{_"Nová šablona"}</a>
{/define}


{define #content}

{control customEmailForm}

{/define}