{define #contentHeader}
	%h1 {_"Přehled šablon emaiů"}
{/define} 

{define #breadcrumb}
	<a n:href="default" class="current">{_"Správa šablon emailů"}</a>
{/define}


{define #content}

{control customEmailGrid}

{/define}