%h1 Clear panel

.nette-inner
	%ul
		%li <a n:href="clearTempCache!">Clear <code>temp</code></a>
		%li <a n:href="clearWwwTemp!">Clear <code>www/temp</code> (css/js)</a>
		%li <a n:href="clearBoth!">Clear both</a>