{#content}

{if $result}
	%table.table.table-bordered.table-condensed.table-striped
		%tr
			%th Kdy
			%th	Soubor
			%th Správa

		{foreach $result as $row}
			%tr
				%td [width => '15%']
					{$row['created']|date}
				%td <a n:href="detail, file => $row['fullname']">{$row['name']}</a>
				%td.center [width => '3%']
					<a n:href="delete!, file => $row['fullname']" class='del'></a>
		{/}

{else}
	%p.alert.alert-success Žádné chyby k vyřízení.
{/}
